body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.headtitle{
    color: #272727;

font-size: 80px;

font-weight: 800;


}

.headsection{
    background: rgba(229, 84, 115, 0.10);
}
.headparent{
    display:flex;
    justify-content: space-between;
    gap:5px
}
.headchild1{
    margin:150px 0px 100px 200px
}
.headchild2{
    width: 635px;
    height: 800px;

border-bottom: 0px;
}
.headp{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;

}
.btn{
   

font-size: 20px;
color: #FFF;
font-weight: 700;
border-radius: 8px;
background: #E55473;
padding:20px 43px;
border:none
}
.off{
    color:#E55473;
}
.dealparent{
    display:flex;
    
    /* justify-content: space-between; */
    gap:215px
    

}
.dealtitle{


color: #272727;

font-size: 40px;
font-style: normal;
font-weight: 800;
margin:230px 0px 0px 150px;
padding:5px;

}
.dealp{
    color: rgba(39, 39, 39, 0.60);


font-size: 18px;

font-weight: 400;
margin:0px 0px 10px 155px;
/* padding:5px; */

}


/* .btnpos{ */

.dealchild2{
    margin:100px 300px 100px 0px;
}

.dealsection{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.btnpos{
    margin:0px 0px 0px  350px;
    margin-top: 5px;
}

.instagramtitle{
    color: #272727;
text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
margin-top: 100px;
}
.instagramtext{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 10px;
padding: 15px;
}
/* .instaimage{ */
    /* display:inline-block; */
    
    
/* } */
.instragramimageparent{
    display:flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 10px;
    padding:20px;
    gap:10px

}
    
